<div class="example__split-view">
  <SplitView
    @axis={{@axis}}
    @sizes={{@sizes}}
    @minSize={{@minSize}} 
    @onSizeChanged={{@onSizeChanged}}
    @barSize={{@barSize}} 
    @fluent={{@fluent}} 
    @responsive={{@responsive}}
    as |Splitter|
  >
    <Splitter.Pane> 
      <div class="example__properties">
        <div class="grid">
          <div class="grid__row">
            <div class="grid__cell">
              <span class="property">@axis</span>
            </div>
            <div class="grid__cell">
              <select {{on "change" (fn this.onAxisChanged)}}>
                <option value="x">x - axis</option>
                <option value="y">y - axis</option>
              </select>
            </div>
          </div>
          <div class="grid__row">
            <div class="grid__cell">
              <span class="property">@barSize</span>
            </div>
            <div class="grid__cell">
              <Input @value={{this.barSize}} @type="number" @min={{1}}/>
            </div>
          </div>
          <div class="grid__row">
            <div class="grid__cell">
              <span class="property">@minSize</span>
            </div>
            <div class="grid__cell">
              <Input @value={{this.minSize}} @type="number" @min={{0}}/>
            </div>
          </div>
          <div class="grid__row">
            <div class="grid__cell">
              <span class="property">@fluent</span>
            </div>
            <div class="grid__cell">
              <Input @type="checkbox" @checked={{this.fluent}}/>
            </div>
          </div> 
          <div class="grid__row">
            <div class="grid__cell">
              <span class="property">@responsive</span>
            </div>
            <div class="grid__cell">
              <Input @type="checkbox" @checked={{this.responsive}}/>
            </div>
          </div>
          <div class="grid__row">
            <div class="grid__cell">
              <span class="property">@sizes</span>
            </div>
            <div class="grid__cell">
              <Input readonly @value={{get this.currentSizes 0}}/>
            </div>
            <div class="grid__row">
              <div class="grid__cell"></div>
              <div class="grid__cell">
                <Input readonly @value={{get this.currentSizes 1}}/>
              </div>
            </div>
            <div class="grid__row">
              <div class="grid__cell"></div>
              <div class="grid__cell">
                <Input readonly @value={{get this.currentSizes 2}}/>
              </div>
            </div>
            <div class="grid__row">
              <div class="grid__cell"></div>
              <div class="grid__cell">
                <Input @type="button" {{on "click" this.setRandomSize}} value="Random size"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Splitter.Pane>
    <Splitter.Pane>
      <SplitView
        @axis={{this.axis}}
        @sizes={{this.sizes}}
        @minSize={{this.minSize}} 
        @barSize={{this.barSize}}
        @fluent={{this.fluent}} 
        @responsive={{this.responsive}}
        @onSizeChanged={{this.onSizeChanged}}
        as |SplitViewExample|
      >
        <SplitViewExample.Pane>
          <div class="left-panel">
            <span>Left panel</span>
          </div>
        </SplitViewExample.Pane>
        <SplitViewExample.Pane>
          <div class="middle-panel">
            <span>Middle panel</span>
          </div>
        </SplitViewExample.Pane>
        <SplitViewExample.Pane>
          <div class="right-panel">
            <span>Right panel</span>
          </div>
        </SplitViewExample.Pane>
      </SplitView>
    </Splitter.Pane>
  </SplitView>
</div>