<div class="example__tab-control">
  <SplitView::Light
    @axis={{@axis}}
    @sizes={{@sizes}}
    @minSize={{@minSize}} 
    @onSizeChanged={{@onSizeChanged}}
    @barSize={{@barSize}} 
    @fluent={{@fluent}} 
    @responsive={{@responsive}}
    as |Splitter|
  >
    <Splitter.Pane>
      <div class="example__properties">
        <div class="grid">
          <div class="grid__row">
            <div class="grid__cell">
              <span class="property">@side</span>
            </div>
            <div class="grid__cell" >
              <select {{on "change" (fn this.onSideChanged)}}>
                <option value="top">top</option>
                <option value="left">left</option>
                <option value="right">right</option>
                <option value="bottom">bottom</option>
              </select>
            </div>
          </div>
          <div class="grid__row">
            <div class="grid__cell">
              <span class="property">@scrollable</span>
            </div>
            <div class="grid__cell">
              <Input @type="checkbox" @checked={{this.scrollable}}/>
            </div>
          </div>
          <div class="grid__row">
            <div class="grid__cell">
              <span class="property">@direction</span>
            </div>
            <div class="grid__cell">
              <select {{on "change" (fn this.onDirectionChanged)}}>
                <option value="forward">forward</option>
                <option value="backward">backward</option>
              </select>
            </div>
          </div>
           <div class="grid__row">
            <div class="grid__cell">
              <span class="property">@itemsSource</span>
            </div>
            <div class="grid__cell">
              <Input @type="checkbox" @checked={{this.itemsSourceEnable}}/>
            </div>
          </div>
        </div>
      </div>
    </Splitter.Pane>
    <Splitter.Pane>
      <ComponentObserver
        @side={{this.side}}
        @direction={{this.direction}}
        @selectFirst={{this.selectFirst}}
        @scrollable={{this.scrollable}}
      >
        <TabControl 
          @side={{this.side}}
          @direction={{this.direction}}
          @scrollable={{this.scrollable}}
          @itemsSource={{this.itemsSource}}
          as |Tab|
        >
          <Tab.Tab @header="First tab">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus dictum lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam placerat posuere lacus ut molestie. Aliquam eget magna nulla. Vestibulum varius vestibulum tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vulputate tortor vitae leo efficitur mollis quis eu orci. Fusce eu mauris nec ligula lacinia iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus varius fermentum magna scelerisque pretium. Nulla nulla diam, feugiat posuere libero ultricies, fringilla cursus libero. Cras in ex eget quam feugiat dignissim. Donec non ex diam. Aenean sed odio et turpis ullamcorper commodo. Praesent porta, leo eget pellentesque eleifend, orci ligula vehicula nunc, vel ornare ligula felis ac nunc.
            Donec elit eros, dictum at tempor varius, facilisis eu libero. Etiam id enim ac massa sollicitudin interdum varius sed mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus nec pretium mauris, vel consequat risus. Phasellus auctor fringilla tortor, in semper elit porttitor nec. Sed eu massa vel magna elementum maximus vel a nisi. Nunc ut massa ante. Fusce fermentum varius orci eu malesuada.
            Morbi egestas urna in purus faucibus, at sagittis dolor tincidunt. Nam imperdiet lectus in purus ultrices ullamcorper. Etiam lacus turpis, malesuada et euismod convallis, lacinia id est. Sed interdum vel ante in blandit. Praesent iaculis lectus eu ex porta bibendum. Quisque vitae mi ac velit vestibulum tempor. Morbi facilisis magna ultricies arcu sodales, non laoreet ipsum efficitur. Integer gravida egestas nibh, nec imperdiet purus blandit eu. Vivamus rutrum finibus tellus ac feugiat. Praesent urna ipsum, dapibus nec condimentum nec, elementum non nunc. Aliquam sed semper felis. Phasellus convallis iaculis est vel sagittis. Aenean dignissim et ligula vitae posuere. Curabitur pretium id sem vitae elementum. Maecenas dignissim scelerisque ornare.
          </Tab.Tab>
          <Tab.Tab @header="Second tab">
            Curabitur bibendum sem id auctor malesuada. Curabitur eros velit, porta nec commodo sed, rhoncus blandit metus. Maecenas auctor lacus nec ex euismod, eget volutpat arcu commodo. Mauris id pulvinar nunc. Donec at pretium ante. Phasellus tempor erat non vehicula condimentum. Pellentesque odio est, aliquet eu tempor sed, tincidunt id ex. Nunc in elit pretium, sollicitudin nunc id, tincidunt nisi. Cras hendrerit elit sit amet faucibus eleifend.
            Cras id lectus sit amet ligula varius mollis ut vitae sem. Praesent nec magna lectus. Vivamus blandit quis eros et elementum. Pellentesque purus lorem, vehicula non dignissim id, scelerisque a sem. Proin in orci eget nibh viverra vehicula. Sed dictum eu elit et euismod. Aenean tincidunt et tellus non porta. Proin quis sem ac dolor condimentum aliquam. Quisque commodo urna a magna tempus, vitae malesuada urna dignissim. Morbi a est porta tortor dictum blandit. Cras molestie et dui ac viverra. Vivamus aliquet sapien et quam maximus, in molestie lectus vehicula. In volutpat elit non auctor porta. Mauris nec pharetra massa. Sed a turpis in elit dignissim placerat vel sit amet diam. Duis tincidunt gravida dolor vel cursus.
          </Tab.Tab>
          <Tab.Tab @header="Third tab">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id rhoncus urna, at efficitur urna. Suspendisse id massa ac neque fermentum commodo ac a ex. Maecenas vestibulum id est non malesuada. Praesent sollicitudin sem ante, quis tincidunt mauris cursus sed. Mauris tempus enim quis lectus mollis hendrerit. Aliquam volutpat blandit mattis. Quisque congue tincidunt suscipit.
            Integer mattis tellus leo, id mollis ligula mollis non. Integer facilisis metus eu nisl interdum scelerisque. Maecenas porta sit amet diam ut ultricies. Pellentesque id neque ligula. Nunc id mi eu leo cursus vehicula. Duis sit amet placerat ipsum, quis fringilla nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque nec congue lorem, sit amet fringilla mi. Nulla tempus, libero nec hendrerit consequat, libero augue vestibulum lacus, vel posuere dolor velit id arcu. Nunc nunc eros, rutrum sit amet lorem condimentum, hendrerit eleifend risus. Donec sollicitudin condimentum lorem non consequat. Curabitur felis libero, euismod vel nisl at, vestibulum aliquet risus. Nullam sit amet libero neque. Proin vulputate maximus vestibulum.
            Nullam tincidunt ex aliquam lorem euismod fringilla. Curabitur condimentum ultrices mi non pulvinar. Duis quis tellus vitae ex scelerisque imperdiet id ut augue. Proin vitae libero id odio malesuada congue nec vitae ipsum. Cras venenatis, lectus eu molestie porttitor, ligula arcu posuere mi, quis cursus massa elit quis mauris. Nulla eget cursus ante. Curabitur bibendum nisl sapien, id euismod arcu sagittis dignissim. Nunc consectetur, nulla a rhoncus rutrum, ex elit gravida arcu, eu pharetra nisl erat at felis. Phasellus tempor, nunc quis faucibus maximus, risus neque faucibus turpis, nec iaculis metus magna eget velit. Aliquam condimentum tristique lacus. Aenean luctus vestibulum velit eu hendrerit.
          </Tab.Tab>
          <Tab.Tab @header="Fourth tab">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id rhoncus urna, at efficitur urna. Suspendisse id massa ac neque fermentum commodo ac a ex. Maecenas vestibulum id est non malesuada. Praesent sollicitudin sem ante, quis tincidunt mauris cursus sed. Mauris tempus enim quis lectus mollis hendrerit. Aliquam volutpat blandit mattis. Quisque congue tincidunt suscipit.
            Integer mattis tellus leo, id mollis ligula mollis non. Integer facilisis metus eu nisl interdum scelerisque. Maecenas porta sit amet diam ut ultricies. Pellentesque id neque ligula. Nunc id mi eu leo cursus vehicula. Duis sit amet placerat ipsum, quis fringilla nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque nec congue lorem, sit amet fringilla mi. Nulla tempus, libero nec hendrerit consequat, libero augue vestibulum lacus, vel posuere dolor velit id arcu. Nunc nunc eros, rutrum sit amet lorem condimentum, hendrerit eleifend risus. Donec sollicitudin condimentum lorem non consequat. Curabitur felis libero, euismod vel nisl at, vestibulum aliquet risus. Nullam sit amet libero neque. Proin vulputate maximus vestibulum.
          </Tab.Tab>
          <Tab.Tab @header="Fifth tab">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id rhoncus urna, at efficitur urna. Suspendisse id massa ac neque fermentum commodo ac a ex. Maecenas vestibulum id est non malesuada. Praesent sollicitudin sem ante, quis tincidunt mauris cursus sed. Mauris tempus enim quis lectus mollis hendrerit. Aliquam volutpat blandit mattis. Quisque congue tincidunt suscipit.
            Integer mattis tellus leo, id mollis ligula mollis non. Integer facilisis metus eu nisl interdum scelerisque. Maecenas porta sit amet diam ut ultricies. Pellentesque id neque ligula. Nunc id mi eu leo cursus vehicula. Duis sit amet placerat ipsum, quis fringilla nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque nec congue lorem, sit amet fringilla mi. Nulla tempus, libero nec hendrerit consequat, libero augue vestibulum lacus, vel posuere dolor velit id arcu. Nunc nunc eros, rutrum sit amet lorem condimentum, hendrerit eleifend risus. Donec sollicitudin condimentum lorem non consequat. Curabitur felis libero, euismod vel nisl at, vestibulum aliquet risus. Nullam sit amet libero neque. Proin vulputate maximus vestibulum.
            Nullam tincidunt ex aliquam lorem euismod fringilla. Curabitur condimentum ultrices mi non pulvinar. Duis quis tellus vitae ex scelerisque imperdiet id ut augue. Proin vitae libero id odio malesuada congue nec vitae ipsum. Cras venenatis, lectus eu molestie porttitor, ligula arcu posuere mi, quis cursus massa elit quis mauris. Nulla eget cursus ante. Curabitur bibendum nisl sapien, id euismod arcu sagittis dignissim. Nunc consectetur, nulla a rhoncus rutrum, ex elit gravida arcu, eu pharetra nisl erat at felis. Phasellus tempor, nunc quis faucibus maximus, risus neque faucibus turpis, nec iaculis metus magna eget velit. Aliquam condimentum tristique lacus. Aenean luctus vestibulum velit eu hendrerit.
            Nullam tincidunt ex aliquam lorem euismod fringilla. Curabitur condimentum ultrices mi non pulvinar. Duis quis tellus vitae ex scelerisque imperdiet id ut augue. Proin vitae libero id odio malesuada congue nec vitae ipsum. Cras venenatis, lectus eu molestie porttitor, ligula arcu posuere mi, quis cursus massa elit quis mauris. Nulla eget cursus ante. Curabitur bibendum nisl sapien, id euismod arcu sagittis dignissim. Nunc consectetur, nulla a rhoncus rutrum, ex elit gravida arcu, eu pharetra nisl erat at felis. Phasellus tempor, nunc quis faucibus maximus, risus neque faucibus turpis, nec iaculis metus magna eget velit. Aliquam condimentum tristique lacus. Aenean luctus vestibulum velit eu hendrerit.
          </Tab.Tab>
        </TabControl>
      </ComponentObserver>
    </Splitter.Pane>
  </SplitView::Light>
</div>