<div 
    class="{{bem "split-view" (concat "$" this.axis)}} {{bem (bem "data-table") "head"}}"
    {{did-insert this.didInsert}}
    {{did-update this.didUpdateAttrs @barSize @responsive @minSize @minSizes}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (hash Column=(
        component this.itemTemplateName
        axis=this.axis
        barSize=this.barSize
        addChild=this.addChild
        isItemsHost=this.hasItemsSource
        removeChild=this.removeChild))
      }}
    {{/unless}}
  </div>