<div class="{{this.classNames}}" 
  {{scroll-port-modifier
    updatePublicProperties=this.updatePublicProperties
    scrollAxis=this.scrollAxis
    delta=this.delta
  }}
  ...attributes
>
  <ScrollPort::Screen
    @classNamesBuilder={{this.classNamesBuilder}}
  >
    {{yield (
      hash
        Content=(
          component "scroll-port/content"
          axis=this.scrollAxis
          classNamesBuilder=this.classNamesBuilder
        )
      )
    }}
  </ScrollPort::Screen>
  <ScrollPort::Track 
    @classNamesBuilder={{this.classNamesBuilder}}
    @axis="x"
  />

  <ScrollPort::Track 
    @classNamesBuilder={{this.classNamesBuilder}}
    @axis="y"/>
</div>