<div class="{{this.classNames}}" 
  {{scroll-port-modifier 
    owner=this
    scrollAxis = @scrollAxis
    delta = @delta
  }}
  ...attributes
>
  <ScrollPort::Screen
    @classNamesBuilder={{this.classNamesBuilder}}
  >
    {{yield (
      hash
        Content=(
          component "scroll-port/content"
          axis=this.scrollAxis
          classNamesBuilder=this.classNamesBuilder
        )
      )
    }}
  </ScrollPort::Screen>
  <ScrollPort::Track 
    @classNamesBuilder={{this.classNamesBuilder}}
    @axis="x"
  />

  <ScrollPort::Track 
    @classNamesBuilder={{this.classNamesBuilder}}
    @axis="y"/>
</div>