<div class={{this.classNames}}>
  {{#if this.hasItemsSource}}
    {{#each this.children as |container|}}
      <TreeView 
        @parentElement={{this}}
        @item={{container.item}}
        @header={{container.header}}
        @itemsSource={{container.items}}
      />
    {{/each}}
  {{else}}
    {{yield}}
  {{/if}}
</div>