<div 
  class={{this.classNames}}
  {{did-insert this.didInsert}}
>
  {{#unless this.isRoot}}
    <TreeView::Header
      @classNamesBuilder={{this.classNamesBuilder}}
    >
      <TreeView::Expander
        @hasChilds={{this.hasChilds}}
        @isExpanded={{this.isExpanded}}
        @toggleExpander={{this.toggleExpander}}
        @classNamesBuilder={{this.classNamesBuilder}}
      />
      <TreeView::Title
        @isSelected={{this.isSelected}}
        @classNamesBuilder={{this.classNamesBuilder}}
        @changeSelection={{this.changeSelection}}
      >
        {{this.header}}
      </TreeView::Title>
      
    </TreeView::Header>
  {{/unless}}

  <TreeView::Pane
    @parentElement={{this}}
    @hasChilds={{this.hasChilds}}
    @hasItemsSource={{this.hasItemsSource}}
    @classNamesBuilder={{this.classNamesBuilder}}
    @headerTemplateName={{this.headerTemplateName}}
    @isExpanded={{this.isExpanded}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (
        hash
          Item=(
            component
            this.itemTemplateName
            parentElement=this
            header=this.header
            multipleSelectionEnable=this.multipleSelectionEnable
            headerTemplateName=this.headerTemplateName
            expanderTemplateName=this.expanderTemplateName
          )
        )
      }}
    {{/unless}}
  </TreeView::Pane>
</div>