<div 
  class={{this.classNames}}
  {{did-insert this.didInsert}}
>
  {{#unless this.isRoot}}

    {{#component 
      this.headerTemplateName
      classNamesBuilder=this.classNamesBuilder
    }}
    
      {{component 
        this.expanderTemplateName
        hasChilds=this.hasChilds
        isExpanded=this.isExpanded
        toggleExpander=this.toggleExpander
        classNamesBuilder=this.classNamesBuilder
      }}

      {{component 
        this.titleTemplateName
        header=this.header
        isSelected=this.isSelected
        changeSelection=this.changeSelection
        classNamesBuilder=this.classNamesBuilder
      }}({{this.selectedItems.count}})
    {{/component}}
  {{/unless}}

  <TreeView::Pane
    @visualParent={{this}}
    @isRoot={{this.isRoot}}
    @hasChilds={{this.hasChilds}}
    @isExpanded={{this.isExpanded}}
    @hasItemsSource={{this.hasItemsSource}}
    @itemTemplateName={{this.itemTemplateName}}
    @classNamesBuilder={{this.classNamesBuilder}}
    @multipleSelectionEnable={{this.multipleSelectionEnable}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (
        hash
          Item=(
            component
            this.itemTemplateName
            visualParent=this
            header=this.header
            multipleSelectionEnable=this.multipleSelectionEnable
            headerTemplateName=this.headerTemplateName
            expanderTemplateName=this.expanderTemplateName
          )
        )
      }}
    {{/unless}}
  </TreeView::Pane>
</div>