<div 
  class={{this.classNames}}
  {{did-insert this.didInsert}}
>
  {{#unless this.isRoot}}
    <TreeView::Header
      @header={{this.header}}
      @expanderTemplateName={{this.expanderTemplateName}}
      @headerTemplateName={{this.headerTemplateName}}
      @classNamesBuilder={{this.classNamesBuilder}}
      @hasItems={{this.hasItems}}
      @isExpanded={{this.isExpanded}}
      @toggleExpander={{this.toggleExpander}}
    />
  {{/unless}}

  <TreeView::Pane
    @parentElement={{this}}
    @hasItems={{this.hasItems}}
    @isExpanded={{this.isExpanded}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (
        hash
          Item=(
            component this.itemTemplateName
            parentElement=this
          )
        )
      }}
    {{/unless}}
  </TreeView::Pane>
</div>