<div
  class="{{this.classNames}}"
  ...attributes
>
  {{#with 
    (hash
      Body=(component this.bodyTemplateName)
      Foot=(component this.footTemplateName)
    ) as |Table|
  }}

    {{yield (hash Columns=(component this.headTemplateName
      visualParent=this
      classNamesBuilder=this.classNamesBuilder
      columnTemplateName=this.columnTemplateName
      minColumnSizes=@minColumnSizes
      columnSizes=@columnSizes
      columnBarSize=@columnBarSize
      fluent=@fluent
      responsive=@responsive
    ))}}
    
    <Table.Body 
      @visualParent={{this}}
      @columns={{this.columns}}
      @scrollable={{this.scrollable}}
      @scrollAxis={{this.scrollAxis}}
      @hasItemsSource={{this.hasItemsSource}}
      @itemTemplateName={{this.itemTemplateName}}
      @classNamesBuilder={{this.classNamesBuilder}}
      @cellTemplateName={{this.cellTemplateName}}
    />

    <Table.Foot 
      @classNamesBuilder={{this.classNamesBuilder}}
    />

  {{/with}}
</div>


    