<div
  class="{{bem 'data-table'}}"
  ...attributes
>
  {{#let 
    (hash
      Body=(component this.bodyTemplateName)
      Foot=(component this.footTemplateName)
    ) 
    (hash Columns=(
      component this.headTemplateName
      columns=this.columns
      columnSizes=this.columnSizes
      itemTemplateName=this.columnTemplateName
      onSizeChanged=this.onColumnSizeChanged
      onColumnsChanged=this.onColumnsChanged)
    )
    as |Table Columns|
  }}

    {{yield Columns}}
    
    <Table.Body
      @columns={{this.columns}}
      @columnSizes={{this.columnSizes}}
      @scrollable={{this.scrollable}}
      @scrollAxis={{this.scrollAxis}}
      @onSelect={{this.onSelect}}
      @onUnselect={{this.onUnselect}}
      @hasItemsSource={{this.hasItemsSource}}
      @itemTemplateName={{this.itemTemplateName}}
      @cellTemplateName={{this.cellTemplateName}}
      @itemContainerGenerator={{this.itemContainerGenerator}}
    />

    <Table.Foot />

  {{/let}}
</div>


    