<div
  class="{{bem 'data-table'}}"
  ...attributes
>
  {{#with 
    (hash
      Body=(component this.bodyTemplateName)
      Foot=(component this.footTemplateName)
    ) as |Table|
  }}

    {{yield (hash Columns=(
      component this.headTemplateName
      itemTemplateName=this.columnTemplateName
      onColumnsChangedInternal=this.onColumnsChangedInternal
      onColumnSizeChangedInternal=this.onColumnSizeChangedInternal))
    }}
    
    <Table.Body 
      @columns={{this.columns}}
      @columnSizes={{this.columnSizes}}
      @scrollable={{this.scrollable}}
      @scrollAxis={{this.scrollAxis}}
      @onSelect={{this.onSelect}}
      @onUnselect={{this.onUnselect}}
      @hasItemsSource={{this.hasItemsSource}}
      @itemTemplateName={{this.itemTemplateName}}
      @cellTemplateName={{this.cellTemplateName}}
    />

    <Table.Foot />

  {{/with}}
</div>


    