<div class={{this.classNames}}>
  {{component 
    this.expanderTemplateName
    hasChilds=this.hasChilds
    isExpanded=this.isExpanded
    toggleExpander=this.toggleExpander
    classNamesBuilder=this.classNamesBuilder
  }}
  <a 
    href="#"
    {{on 'click' (fn @changeSelection (if this.isSelected false true))}}
  >
    {{component 
      this.headerTemplateName 
      header=this.header 
      classNamesBuilder=this.classNamesBuilder
    }}

    ({{@selectedCount}})
  </a>
</div>