<div
  id={{this.elementId}}
  class={{this.classNames}}
  {{add-child this}}
>
  <span>{{@title}}</span>
</div>

{{#unless this.isLast}}
  <DataTable::Bar
    @axis={{this.axis}}
    @barSize={{this.barSize}}
    @classNamesBuilder={{this.classNamesBuilder}}
  />
{{/unless}}
