<div
  id={{this.elementId}}
  class="
    {{bem (bem "split-view") "pane" (hash $fixed=this.isFixed) (concat "$" this.axis)}} 
    {{bem (bem "data-table") "column" (hash $fixed=this.isFixed)}}
  "
  {{allow-draggable}}
  {{did-insert this.didInsert}}
>
  <span>{{@title}}</span>
</div>

{{#let (or (not this.lastItem) (eq this this.lastItem)) as |isLast|}}
  {{#unless isLast}}
    <SplitView::Bar
      @axis={{this.axis}} 
      @barSize={{this.barSize}}
    />
  {{/unless}}
{{/let}}
