<div 
  class="{{bem "split-view"}}"
  {{did-insert this.didInsert}}
  ...attributes
  >
  <SplitView::Panel
    @axis={{this.axis}}
    @barSize={{this.barSize}}
    @addChild={{this.addChild}}
    @removeChild={{this.removeChild}}
    @isItemsHost={{this.hasItemsSource}}
    @itemContainerGenerator={{this.itemContainerGenerator}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (hash Pane=(
        component 
        this.itemTemplateName
        axis=this.axis
        barSize=this.barSize
        lastItem=this.items.lastObject
        isItemsHost=this.hasItemsSource
        content=@content))
      }}
    {{/unless}}
  </SplitView::Panel>
</div>
