<div 
  class={{this.classNames}}
  {{split-view-modifier
    host=this
    minPaneSizes=@minPaneSizes
    sizes=@sizes
    onSizeChanged=@onSizeChanged
    axis=this.axis
    classNamesBuilder=this.classNamesBuilder
    barSize=this.barSize
    fluent=this.fluent
    sizeTarget=this.sizeTarget
    maxSizeTarget=this.maxSizeTarget
    minPaneSize=this.minPaneSize
    responsive=this.responsive
    sideOrigin=this.sideOrigin
    sideTarget=this.sideTarget
  }}
  ...attributes
  >
  <SplitView::SplitPanel
    @visualParent={{this}}
    @hasItemsSource={{this.hasItemsSource}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (hash Pane=(
        component this.itemTemplateName
        visualParent=this
        content=@content))
      }}
    {{/unless}}
  </SplitView::SplitPanel>
</div>