<div 
  class="{{this.classNames}}"
  {{did-insert this.didInsert}}
  {{did-update this.didUpdateAttrs 
    @axis @barSize @minSize 
    @minSizes @fluent @responsive
  }}
  ...attributes
  >
  <SplitView::Panel
    @axis={{this.axis}}
    @barSize={{this.barSize}}
    @addChild={{this.addChild}}
    @removeChild={{this.removeChild}}
    @hasItemsSource={{this.hasItemsSource}}
    @itemTemplateName={{this.itemTemplateName}}
    @itemContainerGenerator={{this.itemContainerGenerator}}
    as |Panes|
  >
    {{#unless this.hasItemsSource}}
      {{yield Panes}}
    {{/unless}}
  </SplitView::Panel>
</div>
