<div 
  class={{this.classNames}}
  {{split-view-modifier
    host=this
    axis=this.axis
    classNamesBuilder=this.classNamesBuilder
    minPaneSizes=@minPaneSizes
    sizes=@sizes
    barSize=@barSize
    fluent=@fluent
    responsive=@responsive
    onSizeChanged=@onSizeChanged
  }}
  ...attributes
  >
  <SplitView::SplitPanel
    @visualParent={{this}}
    @hasItemsSource={{this.hasItemsSource}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (hash Pane=(
        component this.itemTemplateName
        visualParent=this
        content=@content))
      }}
    {{/unless}}
  </SplitView::SplitPanel>
</div>