<div 
  class={{this.classNames}}
  {{did-insert this.didInsert}}
  ...attributes
  >
  <SplitView::SplitPanel
    @visualParent={{this}}
    @barsize={{this.barSize}}
    @axis={{this.axis}}
    @hasItemsSource={{this.hasItemsSource}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (hash Pane=(
        component this.itemTemplateName
        barSize=this.barSize
        axis=this.axis
        visualParent=this
        content=@content))
      }}
    {{/unless}}
  </SplitView::SplitPanel>
</div>
