<div 
  class={{this.classNames}}
  {{did-insert this.didInsert}}
  {{allow-draggable}}
  ...attributes
  >
  <SplitView::SplitPanel
    @visualParent={{this}}
    @hasItemsSource={{this.hasItemsSource}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (hash Pane=(
        component this.itemTemplateName
        visualParent=this
        content=@content))
      }}
    {{/unless}}
  </SplitView::SplitPanel>
</div>