<div 
  class="{{this.classNames}}"
  {{did-insert this.didInsert}}
   ...attributes
>
  <TabControl::TabPane
    @parentElement={{this}}
    @scrollable={{this.scrollable}}
    @scrollAxis={{this.scrollAxis}}
    @classNamesBuilder={{this.classNamesBuilder}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (
        hash
          Tab=(
            component 
              this.itemTemplateName
              parentElement=this
              contentTemplateName=this.contentTemplateName
              headerTemplateName=this.headerTemplateName
              classNamesBuilder=this.classNamesBuilder
              header=@header
              content=@content
          )
        )
      }}
    {{/unless}}
  </TabControl::TabPane>

  <div 
    class={{this.contentClassNames}}
  >
  </div>

</div>