<div 
  class="{{bem "tab-control" this.modifers}}"
  {{did-insert this.didInsert}}
   ...attributes
>
  <TabControl::Panel
    @scrollable={{this.scrollable}}
    @scrollAxis={{this.scrollAxis}}
    @addChild={{this.addChild}}
    @onSelect={{this.onSelect}}
    @removeChild={{this.removeChild}}
    @onUnselect={{this.onUnselect}}
    @hasItemsSource={{this.hasItemsSource}}
    @contentPresenter={{this.contentPresenter}}
    @itemTemplateName={{this.itemTemplateName}}
    @headerTemplateName={{this.headerTemplateName}}
    @contentTemplateName={{this.contentTemplateName}}
    @itemContainerGenerator={{this.itemContainerGenerator}}
    as |Tabs|
  >
    {{#unless this.hasItemsSource}}
      {{yield Tabs}}
    {{/unless}}
  </TabControl::Panel>

  <TabControl::Content
    @classNamesBuilder={{this.classNamesBuilder}}
  />

</div>