<div 
  class="{{this.classNames}}"
  {{did-insert this.didInsert}}
   ...attributes
>
  <TabControl::TabPane
    @visualParent={{this}}
    @scrollable={{this.scrollable}}
    @scrollAxis={{this.scrollAxis}}
    @hasItemsSource={{this.hasItemsSource}}
    @itemTemplateName={{this.itemTemplateName}}
    @headerTemplateName={{this.headerTemplateName}}
    @contentTemplateName={{this.contentTemplateName}}
    @classNamesBuilder={{this.classNamesBuilder}}
    as |Tabs|
  >
    {{#unless this.hasItemsSource}}
      {{yield Tabs}}
    {{/unless}}
  </TabControl::TabPane>

  <TabControl::Content
    @classNamesBuilder={{this.classNamesBuilder}}
  />

</div>