<div 
  class="{{this.classNames}}"
  {{did-insert this.didInsert}}
   ...attributes
>
  <TabControl::TabPane
    @visualParent={{this}}
    @scrollable={{this.scrollable}}
    @scrollAxis={{this.scrollAxis}}
    @hasItemsSource={{this.hasItemsSource}}
    @headerTemplateName={{this.headerTemplateName}}
    @contentTemplateName={{this.contentTemplateName}}
    @classNamesBuilder={{this.classNamesBuilder}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (
        hash
          Tab=(
            component 
            this.itemTemplateName
            header=@header
            content=@content
            visualParent=this
            contentTemplateName=this.contentTemplateName
            headerTemplateName=this.headerTemplateName
            classNamesBuilder=this.classNamesBuilder
          )
        )
      }}
    {{/unless}}
  </TabControl::TabPane>

  <TabControl::Content 
    @classNamesBuilder={{this.classNamesBuilder}}
  />

</div>