<a 
  href="#" 
  class={{this.classNames}} 
  {{did-insert this.didInsert}}
>
  {{#if this.headerTemplateName}}
    {{component 
      this.headerTemplateName 
      header=this.header
      classNamesBuilder=this.classNamesBuilder
    }}
  {{else}}
    {{this.header}}
  {{/if}}
</a>

{{#if this.isSelected}}
  <template 
    {{did-insert this.onSelectionChanged}}
  >
    {{this.openNode}}
      {{#if this.hasItemsSource}}
        {{#if this.contentTemplateName}}
          {{component 
            this.contentTemplateName
            content=this.content
            classNamesBuilder=this.classNamesBuilder
          }}
        {{else}}
          {{this.content}}
        {{/if}}
      {{else}}
        {{yield}}
      {{/if}}
    {{this.closeNode}}
  </template>
{{/if}}