{{#with 
  (hash
    Row=(component this.itemTemplateName)
  ) as |Body|
}}

  <div class="{{bem (bem "data-table") "body"}}">
    {{#if this.scrollable}}
      <ScrollPort 
        @scrollAxis={{this.scrollAxis}} 
        as |Port|
      >
        <Port.Content 
          @axis={{this.scrollAxis}}
        >
          {{#each this.children as |container|}}
            <Body.Row
              @columns={{this.columns}}
              @columnSizes={{this.columnSizes}}
              @hasItemsSource={{this.hasItemsSource}}
              @cellTemplateName={{this.cellTemplateName}}
              @container={{container}}
              @isSelected={{container.isSelected}}
              @item={{container.item}}
              @onSelect={{this.onSelect}}
              @onUnselect={{this.onUnselect}}
            />
          {{/each}}
        </Port.Content>
      </ScrollPort>
    {{else}}
      {{#each this.children as |container|}}
        <Body.Row
          @container={{container}}
          @isSelected={{container.isSelected}}
          @item={{container.item}}
          @columns={{this.columns}}
          @columnSizes={{this.columnSizes}}
          @hasItemsSource={{this.hasItemsSource}}
          @cellTemplateName={{this.cellTemplateName}}
          @onSelect={{this.onSelect}}
          @onUnselect={{this.onUnselect}}
        />
      {{/each}}
    {{/if}}
  </div>

{{/with}}

