{{#with 
  (hash
    Row=(component this.itemTemplateName)
  ) as |Body|
}}

  <div class="{{this.classNames}}">
    {{#if this.scrollable}}
      <ScrollPort 
        @scrollAxis={{this.scrollAxis}} 
        as |Port|
      >
        <Port.Content 
          @axis={{this.scrollAxis}}
        >
          {{#each this.children as |container|}}
            <Body.Row
              @visualParent={{this}}
              @container={{container}}
              @isSelected={{container.isSelected}}
              @item={{container.item}}
              @header={{container.header}}
              @content={{container.content}}
              @columns={{this.columns}}
              @logicalParent={{this.logicalParent}}
              @hasItemsSource={{this.hasItemsSource}}
              @classNamesBuilder={{this.classNamesBuilder}}
              @cellTemplateName={{this.cellTemplateName}}
            />
          {{/each}}
        </Port.Content>
      </ScrollPort>
    {{else}}
      {{#each this.children as |container|}}
        <Body.Row
          @visualParent={{this}}
          @container={{container}}
          @isSelected={{container.isSelected}}
          @item={{container.item}}
          @header={{container.header}}
          @content={{container.content}}
          @columns={{this.columns}}
          @logicalParent={{this.logicalParent}}
          @hasItemsSource={{this.hasItemsSource}}
          @classNamesBuilder={{this.classNamesBuilder}}
          @cellTemplateName={{this.cellTemplateName}}
        />
      {{/each}}
    {{/if}}
  </div>

{{/with}}

