<div 
  class={{this.classNames}}
  {{did-insert this.didInsert}}
>
  {{#component 
    this.headerTemplateName
    classNamesBuilder=this.classNamesBuilder
  }}
    {{component 
      this.expanderTemplateName
      hasChilds=this.hasChilds
      isExpanded=this.isExpanded
      toggleExpander=this.toggleExpander
      classNamesBuilder=this.classNamesBuilder}}
    {{component 
      this.titleTemplateName
      header=this.header
      isSelected=this.isSelected
      changeSelection=this.changeSelection
      classNamesBuilder=this.classNamesBuilder}}
    ({{this.items.count}}:{{this.selectedItems.count}})
  {{/component}}

  <TreeView::Pane
    @getHeader={{@getHeader}}
    @getItems={{@getItems}}
    @visualParent={{this}}
    @hasChilds={{this.hasChilds}}
    @isExpanded={{this.isExpanded}}
    @hasItemsSource={{this.hasItemsSource}}
    @itemTemplateName={{this.itemTemplateName}}
    @headerTemplateName={{this.headerTemplateName}}
    @titleTemplateName={{this.titleTemplateName}}
    @expanderTemplateName={{this.expanderTemplateName}}
    @classNamesBuilder={{this.classNamesBuilder}}
    @multipleSelectionEnable={{this.multipleSelectionEnable}}
  >
    {{#unless this.hasItemsSource}}
      {{yield (
        hash
          Item=(
            component
            this.itemTemplateName
            visualParent=this
            header=this.header
            classNamesBuilder=this.classNamesBuilder
            itemTemplateName=this.itemTemplateName
            titleTemplateName=this.titleTemplateName
            headerTemplateName=this.headerTemplateName
            expanderTemplateName=this.expanderTemplateName
            multipleSelectionEnable=this.multipleSelectionEnable
          )
        )
      }}
    {{/unless}}
  </TreeView::Pane>
</div>