<div class="{{this.classNames}}">
  {{#if this.hasItemsSource}}
    {{#if this.scrollable}}
      <ScrollPort 
        @scrollAxis={{this.scrollAxis}} as |Port|>
        <Port.Content 
          @axis={{this.scrollAxis}}
        >
          <div
            class="{{this.scrollPortClassNames}}"
          >
            {{#each this.children as |container|}}
              {{component 
                  this.itemTemplateName
                  visualParent=this
                  logicalParent=this.logicalParent
                  hasItemsSource=this.hasItemsSource
                  container=container
                  isSelected=container.isSelected
                  item=container.item
                  header=container.header
                  content=container.content
                  classNamesBuilder=this.classNamesBuilder
                  headerTemplateName=this.headerTemplateName
                  contentTemplateName=this.contentTemplateName
              }}
            {{/each}}
          </div>
        </Port.Content>
      </ScrollPort>
    {{else}}
      {{#each this.children as |container|}}
       {{component 
          this.itemTemplateName
          visualParent=this
          logicalParent=this.logicalParent
          hasItemsSource=this.hasItemsSource
          container=container
          isSelected=container.isSelected
          item=container.item
          header=container.header
          content=container.content
          classNamesBuilder=this.classNamesBuilder
          headerTemplateName=this.headerTemplateName
          contentTemplateName=this.contentTemplateName
        }}
      {{/each}}
    {{/if}}
  {{else}}
    {{#if this.scrollable}}
      <ScrollPort @scrollAxis={{this.scrollAxis}} as |Port|>
        <Port.Content 
          @axis={{this.scrollAxis}}
        >
          <div
            class="{{this.scrollPortClassNames}}"
          >
            {{yield}}
          </div>
        </Port.Content>
      </ScrollPort>
    {{else}}
      {{yield}}
    {{/if}}
  {{/if}}
</div>