<div class="{{bem (bem "tab-control") "tabs"}}">
  {{#if this.isItemsHost}}
    {{#with 
      (hash
        Tab=(component this.itemTemplateName)
      ) as |Tabs|
    }}
      {{#if this.scrollable}}
      <ScrollPort 
        @scrollAxis={{this.scrollAxis}} as |Port|
      >
        <Port.Content 
          @axis={{this.scrollAxis}}
        >
          <div
            class="{{bem (bem "tab-control") "tabs-scroll-port"}}"
          >
            {{#each this.children as |container|}}
              <Tabs.Tab
                @isItemsHost={{this.isItemsHost}}
                @headerTemplateName={{this.headerTemplateName}}
                @contentTemplateName={{this.contentTemplateName}}
                @contentPresenter={{this.contentPresenter}}
                @onSelect={{this.onSelect}}
                @onUnselect={{this.onUnselect}}
                @container={{container}}
                @isSelected={{container.isSelected}}
                @item={{container.item}}
                @header={{container.header}}
                @content={{container.content}}
              />
            {{/each}}
          </div>
        </Port.Content>
      </ScrollPort>
    {{else}}
      {{#each this.children as |container|}}
        <Tabs.Tab
          @isItemsHost={{this.isItemsHost}}
          @headerTemplateName={{this.headerTemplateName}}
          @contentTemplateName={{this.contentTemplateName}}
          @contentPresenter={{this.contentPresenter}}
          @onSelect={{this.onSelect}}
          @onUnselect={{this.onUnselect}}
          @container={{container}}
          @isSelected={{container.isSelected}}
          @item={{container.item}}
          @header={{container.header}}
          @content={{container.content}}
        />
      {{/each}}
    {{/if}}
    {{/with}}
  {{else}}
    {{#with (hash
      Tab=(component 
        this.itemTemplateName
        addChild=this.addChild
        removeChild=this.removeChild
        onSelect=this.onSelect        
        onUnselect=this.onUnselect
        isItemsHost=this.isItemsHost
        contentPresenter=this.contentPresenter
        headerTemplateName=this.headerTemplateName
        contentTemplateName=this.contentTemplateName
      )) as |Tabs|
    }}
      {{#if this.scrollable}}
        <ScrollPort @scrollAxis={{this.scrollAxis}} as |Port|>
          <Port.Content 
            @axis={{this.scrollAxis}}
          >
            <div
              class="{{bem (bem "tab-control") "tabs-scroll-port"}}"
            >
              {{yield Tabs}}
            </div>
          </Port.Content>
        </ScrollPort>
      {{else}}
        {{yield Tabs}}
      {{/if}}
    {{/with}}
  {{/if}}
</div>